   <div class="row">
  <div class="col-md-8">

  <div class="form-group">

<% user = User.find_by("id" => cookies["user_id"]) %>
            <% if user.present? %>
            <h5><%= user["first_name"] %></h5>

<h5> I am traveling with my <em>People</em> to <em>Place</em> and the type of trip I want is: <em>Adventure</em> </h5> 
<div>
<div>

<h5>Please give me your Best Tips</h5>

    <%= form_tag "/travels", "method" => "post"  %>

      <div class="form-group">
        <%= label_tag  "username", "" %>
        <%= text_area_tag :content, "", "class" => "form-control", "placeholder" => "Write your tip here:", "rows" => 6 %>
      <%= submit_tag "Add Tip", "class" => "btn btn-md btn-primary"%>
 

<% end %>
