   <div class="row">
  <div class="col-md-8">

  <div class="form-group">

<% user = User.find_by("id" => cookies["user_id"]) %>
            <% if user.present? %>
            <h5><%= user["first_name"] %></h5>

<% the_trip = Trip.find_by("user_id" => params["zebra"]) %>



 	<h5> I am traveling with my friends to <%=the_trip %> and I want Adventure in my trip! </h5> 
<div>

<h5>Please give me your Best Tips</h5>

    <%= form_tag "/recommendations", "method" => "post"  %>

      <div class="form-group">
        <%= label_tag  "username", "" %>
        <%= text_area_tag :content, "", "class" => "form-control", "placeholder" => "Write your tip here:", "rows" => 6 %>
      <%= submit_tag "Add Tip", "class" => "btn btn-md btn-primary"%>
 

<% end %>
